*.iml
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/checkstyleidea-libs/readme.txt
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/dictionaries
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/other.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

